.fullScreenCanvas {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.canvasContainer {
	position: relative;
}

.canvasForeground {
	opacity: 0;

	&.sourceElement.cursorCopy {
		opacity: 1;
	}
	&.sourceElement:not(.cursorCopy) {
		visibility: hidden;
	}

	.noMotion & {
		opacity: 1;

		&.sourceElement:not(.cursorCopy) {
			visibility: visible;
		}
	}
}

button {
	cursor: pointer;
}

input {
	outline: none;
}
